<h2>Add a burger you would like to devour</h2>

<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name: </label>
    <input type="test" id="burg" name="name">
  </div>

  <button class="btn btn-info btn-lg" type ="submit">Add Burger!</button>
    
  </div>

</form>